<!DOCTYPE html>
<html lang="de">
@model P3.Models.Login
@{
	Page.title = "Login";
}
<body>
<span class="error">@Html.ValidationMessage("Error")</span>
@if (Model.LoggedIn && !Model.Failed)
{
	<p>Hallo <i>@Model.Username</i>, Sie sind angemeldet als <b>@Model.Role</b></p>
	<form method="post" action="@Url.Action("Logout")">
		<button class="btn btn-default raise">Abmelden</button>
	</form>
}
else
{
	<form id="loginForm" method="post">
		<label for="loginName"><b><span class="@(Model.Failed ? "loginError" : "")">Nutzername</span></b></label>
		<input required name="loginName" id="loginName" type="text" class="form-control@(Model.Failed ? " is-invalid" : "")" placeholder="Benutzer" />
		<br />
		<label for="loginPassword"><b><span class="@(Model.Failed ? "loginError" : "")">Passwort</span></b></label>
		<input required name="loginPassword" id="loginPassword" type="password" class="form-control@(Model.Failed ? " is-invalid" : "")" placeholder="Passwort" />
		<br/>
		<button class="btn btn-default btn-block raise">Anmelden</button>
	</form>

	<p>Noch nicht registriert? Dann @Html.ActionLink("hier", "Register") drücken!</p>
}
</body>
</html>