@using System.Web.UI.WebControls
@model IEnumerable<P4.Models.WarenkorbItem>

@{
	Page.title = "Bestellungen";
	double totalCost = 0;
}

<!DOCTYPE html>

<html lang="de">
<body>
    <table class="table">
	    <tr>
		    <th>ID</th>
		    <th>Mahlzeit</th>
		    <th>Einzelpreis</th>
		    <th>Anzahl</th>
		    <th>Gesamtpreis</th>
	    </tr>
    
    @foreach (var item in Model)
    {
	    var cost = item.Preis * item.Count;
	    totalCost += cost;
        <tr>
	        <td>@item.ID</td>
	        <td>@item.Name</td>
	        <td>@item.Preis €</td>
	        <td>@item.Count</td>
	        <td>@cost €</td>
        </tr>
    }
	    <tr>
		    <td><a>Alle löschen</a></td>
		    <td><a>Änderung übernehmen</a></td>
		    <td colspan="2">Diese Bestellung kostet</td>
		    <td><span class="btn btn-sm btn-outline-info">@(totalCost) €</span></td>
	    </tr>
    
    </table>
</body>
</html>
